.comment{
    background-color: rgb(236, 232, 232);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}
.btn{
    background-color: #f1f1f1;
    padding:10px 20px;
    margin-top:5px ;
    display: block;
    border-radius: 3px;
}